@font-face {
    font-family: Coolvetica;
    src: url('coolvetica.otf') format('opentype');
}
*{
    margin: 0;
    font-family: Coolvetica;
}
.lander{
    background-color: red;
    height: 100vh;
    background-image: url(../static/mountains.jpg);
    background-size: cover;
}
.choices{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 10vw;
    right: 10vw;
    gap: 12px;
    width: 80vw;
    height: 50px;
    top: 20vh;
}
.choices div{
    background-color: #0b2a41;
    color: white;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    width: calc(80vw / 7);
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 200ms ease-in-out;
}
#unitI{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px;
    background-color : #0b2a41; 
    color: white;
}
#unitI::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
}
.choices div:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.235);
}
.engine{
    position: absolute;
    height: 40px;
    top: 32vh;
    left: 5vw;
    right: 5vw;
    width: 90vw;
    gap: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#search{
    height: 40px;
    top: 32vh;
    left: 5vw;
    right: 5vw;
    width: 80vw;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    border: 0px;
}
button{
    height: 40px;
    top: 32vh;
    left: 5vw;
    right: 5vw;
    width: 10vw;
    color: white;
    background-color: #0b2a41;
    border-radius: 20px;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #0b2a41;
}
.wrapper > input{ 
    /* Selects all input elements with wrapper as parent */
    position: absolute;
    visibility: hidden;
}
#subjectc{
    transition: border 100ms ease-in-out, width 100ms ease-in-out;
}
#subjectc:has(input[type="radio"]:checked){
    border: 2px solid #00c3ff;
    width: 20%;
}
.github{
    width: 36px;
    height: 34px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 4%;
    left: 95vw;
    transition: box-shadow 200ms ease-in-out;
}
.github:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.103);
}